body {
    box-sizing: border-box;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*max-height: 100vh;*/
    background-color: black;
}

.header-img {
    width: 18%;
    margin: auto;
    display: block;
    margin-top: 18px;
    margin-bottom: 40px;
}

.heading {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 0px 3px 4px #213bc7;
    font-size: 30px;
}

.sub-heading {
    font-size: 25px;
}

.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.button-container a {
    text-decoration: none;
    color: white;
    margin: 10px;
    border: 1px solid white;
    text-align: center;
    width: 600px;
    padding: 10px;
    background-color: rgb(255 255 255 / 23%);
    border-radius: 15px;
}

.button-container a:hover {
    background-color: #213bc7;
    border: 1px solid #213bc7;
}

.images-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 108px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.img-sec-item {
    width: 20%;
    border-radius: 20px;
    box-shadow: 8px 7px 10px 0px rgb(0 0 0 / 75%);
}

#p-b {
    margin-bottom: 40px;
}

.social-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    margin: auto;
    background-color: rgb(255 255 255 / 23%);
    border-radius: 15px;
}

.social-container a {
    text-decoration: none;
    text-align: center;
}

#individual {
    border-radius: 45px;
}

.social {
    width: 15%;
    height: 8%;
    padding: 8px;
}

.social-container:hover {
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 179, 0.3);
}

.social:hover {
    border: 1px solid rgba(255, 255, 255, 0.526);
    border-radius: 45px;
    padding: 6px;
}

#individual:hover {
    padding: 4px;
    margin-top: 6px;
    width: 13%;
}

/*MyWebb.html styles*/

.heading-portfolio {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 0px 3px 4px #213bc7;
    font-size: 35px;
}

.web-container {
    background-color: #fff;
    /*2nd theme*/
    background-color: rgb(238 238 238 / 44%);
    margin: 55px 0px;
    margin-bottom: 0px;
    padding: 40px;
    border-radius: 35px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.web-img {
    margin: 25px 25px;
    width: 42%;
   /*
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 45px 0px;
    /*2nd theme*/
    box-shadow: #213bc745 -16px 16px 20px 3px;
    border-radius: 5px;
}

.web-img-a {
    display: contents;
}

.web-img:hover {
    transform: translateY(-8px);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media screen and (min-width: 1px) and (max-width: 330px) {
    .header-img {
        width: 37%;
        margin-bottom: 0px;
    }

    .heading {
        font-size: 25px;
    }

    .button-container a {
        width: 80%;
    }

    .sub-heading {
        font-size: 20px;
    }

    .img-sec-item {
        width: 99%;
        padding: 0px;
        margin: 8px;
    }

    .social-container {
        width: 82%;
        margin-bottom: 20px;
    }

    .social {
        width: 30%;
    }
    .web-container{
        margin: 0%;
        padding: 3px;
        border-radius: 18px;
    }
    .web-img{
        margin: 15px 10px;
        width: 39%;
    }

}

@media screen and (min-width: 330px) and (max-width: 376px) {
    .header-img {
        width: 32%;
        margin-bottom: 0px;
    }

    .button-container a {
        width: 280px !important;
    }

    .img-sec-item {
        width: 75% !important;
        padding: 0px;
        margin: 8px;
    }

    .social-container {
        width: 90%;
        margin-bottom: 20px;
    }

    .social {
        width: 20%;
    }
    .web-container{
        padding: 10px;
        border-radius: 20px;
        margin-top: 25px;
    }
    .web-img{
        margin: 15px 8px;
        box-shadow: #213bc745 -10px 10px 12px 1px;;

    }
}

@media screen and (min-width: 376px) and (max-width: 550px) {
    .header-img {
        width: 28%;
    }

    .button-container a {
        width: 350px;
    }

    .img-sec-item {
        width: 55%;
        padding: 0px;
        margin: 8px;
    }

    .social-container {
        width: 80%;
        margin-bottom: 20px;
    }

    .social {
        width: 18%;
    }

    .web-container{
        padding: 5px;
        border-radius: 20px;
    }
    .web-img{
        margin: 25px 8px;
        box-shadow: #213bc745 -15px 10px 20px 0px;
    }

}
